<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
	  
<body>
		<div layout:fragment="content2">
			<h3 th:text="#{menu.admin.profesional}"></h3>
		<div class="card">
			<div class="card-body">
				<h4 th:text="#{admin.servicio.list.title}" class="card-title"></h4>
				<p class="card-description">
					<a th:href="@{/admin/users/edit}" th:text="#{user.create.btn}"></a>
				</p> 
				<div class="table-responsive">
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th th:text="#{col.id}"></th>
					      <th th:text="#{col.dni}"></th>
					      <th th:text="#{col.nombre}"></th>
					      <th th:text="#{col.apellido}"></th>
					      <th th:text="#{col.telefono}"></th>
						  <th th:text="#{col.email}"></th>
						  <th th:text="#{col.clave}"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  th:each="profesional : ${listado}">
					      <td th:text="${profesional.id}"></td>
					      <td th:text="${profesional.dni}"></td>
					      <td th:text="${profesional.nombre}"></td>
					      <td th:text="${profesional.apellido}"></td>
					      <td th:text="${profesional.telefono}"></td>
					      <td th:text="${profesional.acceso.emailUsr}"></td>
					      <td th:text="${profesional.acceso.clave}"></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>	
		
		</div>
			
	</body>
</html>