<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
	  

	<body>
		<div layout:fragment="content2">
		<div class="card">
			<div class="card-body">
				<h4 th:text="#{admin.servicio.list.title}" class="card-title"></h4>
				<p class="card-description">
					<a th:href="@{/admin/service/edit}" th:text="#{service.create.btn}"></a>
				</p> 
				<div class="table-responsive">
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th th:text="#{col.id}"></th>
					      <th th:text="#{col.nombre}"></th>
					      <th th:text="#{col.description}"></th>
					      <th th:text="#{col.precio}"></th>
						  <th th:text="#{col.duracion}"></th>
						  <th th:text="#{col.actions}"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="servicio : ${listado}">
					      <td th:text="${servicio.id}"></td>
					      <td th:text="${servicio.nombre}"></td>
					      <td th:text="${servicio.descripcion}"></td>
					      <td th:text="${servicio.precio}"></td>
					      <td th:text="${servicio.duracion}"></td>
					      <td>
					      	<a th:href="@{/admin/service/edit?id=} + ${servicio.id}" th:text="#{service.edit.btn}"></a>
					      </td>
					      
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>	
		
		</div>
			
	</body>
</html>