<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>BeautyTurn - Reserva tu Turno</title>
		<link rel="stylesheet"  th:href ="@{/css/reserva.css}" >
	</head>
	<body>
		
		<div layout:fragment="content">
		
		</div>
		<script th:src="@{/js/jquery-3.4.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/reserva.js}"></script>
		
	</body>
</html>


